.container div{
    display: flex;
    --var-opacity: 0.5;
    --var-radius: 70px;
}
.circle{
    border: 1px solid black;
    height: var(--var-radius);
    width: var(--var-radius);
    border-radius: 50%;
    margin: 10px;
}
.c0{
    background-color: rgb(114 2 2);
}
.c0.on{
    background-color: rgb(114 2 2 / var(--var-opacity));
}
.c1{
    background-color: rgb(160 47 3);
}
.c1.on{
    background-color: rgb(160 47 3 / var(--var-opacity));
}
.c2{
    background-color: rgb(133 124 4);
}
.c2.on{
    background-color: rgb(133 124 4 / var(--var-opacity));
}
.c3{
    background-color: rgb(1 70 18);
}
.c3.on{
    background-color: rgb(1 70 18 / var(--var-opacity));
}
.c4{
    background-color: rgb(2 82 114);
}
.c4.on{
    background-color: rgb(2 82 114 / var(--var-opacity));
}
.c5{
    background-color: rgb(8 2 90);
}
.c5.on{
    background-color: rgb(8 2 90 / var(--var-opacity));
}
.c6{
    background-color: rgb(50 2 82);
}
.c6.on{
    background-color: rgb(50 2 82 / var(--var-opacity))
}
#color{
    display: flex;
    visibility: hidden;
}
#color div{
width: 50px;
height: 50px;
border: 1px solid black;
}
#c0{
    background-color: rgb(114, 2, 2);
}
#c1{
    background-color: rgb(160, 47, 3);
}
#c2{
    background-color: rgb(133, 124, 4);
}
#c3{
    background-color: rgb(1, 70, 18);
}
#c4{
    background-color: rgb(2, 82, 114);
}
#c5{
    background-color: rgb(8, 2, 90);
}
#c6{
    background-color: rgb(50, 2, 82);
}
#radiusDiv{
    visibility: hidden;
}